<!DOCTYPE html>
	<html xmlns:th="http://www.thymeleaf.org">
	
		<head>
			<meta charset="ISO-8859-1">
			<title>Insert title here</title>
		</head>
		
		<body>
			
			<div th:fragment="create" class="container">
				
				<form class="row g-3" th:action="@{/employees/}" th:object="${employee}" method="post">
					<input type="hidden" th:field="*{id}" th:value="0">
					<input type="hidden" th:field="*{version}" th:value="0">
									
					<div class="mb-3 col-6">
						<label class="form-label fw-bolder">Firstname</label>
						<input th:field="*{firstName}" type=text class="form-control" required>
						<p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="text-danger fw-bolder"/>
					</div>
					<div class="mb-3 col-6">
					    <label class="form-label fw-bolder">Lastname</label>
					    <input th:field="*{lastName}" type="text" class="form-control" required>
					    <p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="text-danger fw-bolder"/>
					</div>
					<div class="mb-3 col-6">
					    <label class="form-label fw-bolder">Birthdate</label>
					    <input th:field="*{birthDate}" placeholder="YYYY-MM-DD" type="text" class="form-control" required>
					     <p th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}" class="text-danger fw-bolder"/>
					</div>
					<div class="mb-3 col-6">
					    <label class="form-label fw-bolder">Age</label>
					    <input th:field="*{age}" type="text" class="form-control" required>
					     <p th:if="${#fields.hasErrors('age')}" th:errors="*{age}" class="text-danger fw-bolder"/>
					</div>
					<div class="mb-3 col-6">
					    <label class="form-label fw-bolder">Salary</label>
					    <input th:field="*{salary}" type="text" class="form-control" required>
					    <p th:if="${#fields.hasErrors('salary')}" th:errors="*{salary}" class="text-danger fw-bolder"/>
					</div>
					<div class="mb-3 col-6">
					    <label class="form-label fw-bolder">Email</label>
					    <input type="hidden" th:field="*{email.id}" th:value="0">
						<input type="hidden" th:field="*{email.version}" th:value="0">
					    <input th:field="*{email.email}" type="text" class="form-control" required>
					    <p th:if="${#fields.hasErrors('email.email')}" th:errors="*{email.email}" class="text-danger fw-bolder"/>
					</div>
					<div class="mb-3 col-4">
					    <label class="form-label fw-bolder">Street</label>
					    <input type="hidden" th:field="*{addressData.id}" th:value="0">
						<input type="hidden" th:field="*{addressData.version}" th:value="0">
					    <input th:field="*{addressData.street}" type="text" class="form-control" required>
					    <p th:if="${#fields.hasErrors('addressData.street')}" th:errors="*{addressData.street}" class="text-danger fw-bolder"/>
					</div>
					<div class="mb-3 col-2">
					    <label class="form-label fw-bolder">Housenumber</label>
					    <input th:field="*{addressData.houseNumber}" type="text" class="form-control" required>
					    <p th:if="${#fields.hasErrors('addressData.houseNumber')}" th:errors="*{addressData.houseNumber}" class="text-danger fw-bolder"/>
					</div>
					<div class="mb-3 col-3">
					    <label class="form-label fw-bolder">City</label>
					    <input th:field="*{addressData.city}" type="text" class="form-control" required>
					    <p th:if="${#fields.hasErrors('addressData.city')}" th:errors="*{addressData.city}" class="text-danger fw-bolder"/>
					</div>
					<div class="mb-3 col-3">
					    <label class="form-label fw-bolder">Postcode</label>
					    <input th:field="*{addressData.postCode}" type="text" class="form-control" required>
					    <p th:if="${#fields.hasErrors('addressData.postCode')}" th:errors="*{addressData.postCode}" class="text-danger fw-bolder"/>
					</div>
					<div class="mb-3 col-4">
					    <label class="form-label fw-bolder">User username</label>
					    <input type="hidden" th:field="*{userData.id}" th:value="0">
						<input type="hidden" th:field="*{userData.version}" th:value="0">
					    <input th:field="*{userData.username}" type="text" class="form-control" required>
					    <p th:if="${#fields.hasErrors('userData.username')}" th:errors="*{userData.username}" class="text-danger fw-bolder"/>
					</div>
					<div class="mb-3 col-4">
					    <label class="form-label fw-bolder">User password</label>
					    <input th:field="*{userData.password}" type="text" class="form-control" required>
					    <p th:if="${#fields.hasErrors('userData.password')}" th:errors="*{userData.password}" class="text-danger fw-bolder"/>
					</div>
					<div class="mb-3 col-4">
					  	<label class="form-label fw-bolder">User role</label>
						<select th:field="*{userData.userRoles}" class="form-select" required>
							<option selected th:if="${not #lists.isEmpty(userData)}" th:value="*{userData.userRoles}" th:text="*{userData.userRoles}"></option>
						  	<option selected th:if="${#lists.isEmpty(userData)}" value="">Open this select menu</option>
						  	<option th:value="'OFFICE'" th:text="OFFICE"></option>
						  	<option th:value="'ADMINISTRATOR'" th:text="ADMINISTRATOR"></option>
						  	<option th:value="'OFFICE_EDITOR'" th:text="OFFICE_EDITOR"></option>
						</select>
						<p th:if="${#fields.hasErrors('userData.userRoles')}" th:errors="*{userData.userRoles}" class="text-danger fw-bolder"/>
					</div>
					  
					<button type="submit" class="btn btn-secondary col-1">Submit</button>
				</form>
				
			</div>
			
		</body>
	
	</html>