<!DOCTYPE html>
	<html xmlns:th="http://www.thymeleaf.org">
		<head>
			<meta charset="UTF-8">
			<title>Insert title here</title>
		</head>
		
		<body>
			
			<div th:fragment="tableall" class="container">
				<table class="table table-striped table-hover">
					<tr class="text-white">
						<th>Firstname</th>
						<th>Lastname</th>
						<th>Birthdate</th>
						<th>Age</th>
						<th>Salary €</th>
						<th>Email</th>
						<th>City</th>
						<th>Username</th>
					</tr>
					<tr th:if="${employee == null}">
						<td colspan="8">No data found</td>
					</tr>
					<tr class="text-white" th:object="${employee}">
						<td th:utext="*{firstName}">Firstname</td>
						<td th:utext="*{lastName}">Lastname</td>
						<td th:utext="*{birthDate}">Birthdate</td>
						<td th:utext="*{age}">Age</td>
						<td th:utext="*{salary}">Salary</td>
						<td th:utext="*{email.email}">Email</td>
						<td th:utext="*{addressData.city}">City</td>
						<td th:utext="*{userData.username}">Username</td>
					</tr>
				</table>
			</div>
			
		</body>
	</html>